.hero-mesh {
    background: url("https://www.brit.co/media-library/90s-candy-gummy-bears-and-sour-fruit-candies.jpg?id=49841577&width=1200&height=960");
Background-position: center;
background-size: cover;
}